.cor{
    width: 393px;
    height: 840px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(121, 0, 255, 0.50) 0%, #8B2CF5 26.56%);
}

.h1{
    color: #FFF;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    padding: 28px;
}

.detail{
    position:absolute;
    top:467px;
    left:0px;
    width: 393px;
    height: 385px;
    border-radius: 40px 40px 0px 0px;
    background: #30A7D7;
}
.psychic .txt{
    position:absolute;
    width: 320px;
    height: 40px;
    top: 120px;
    left: 32px;
    border-radius: 10px;
    background: #F366B9;
    font-family: Inter;
    font-size: 28px;
    font-weight: 1000;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}


.pokeboll{
    position:absolute;
    top: 260px;
    left: 114.31px;
    flex-shrink: 0;

}

.img{
    position:absolute;
    top: 160px;
    left: 21px;
    width: 350px;
    height: 370px;
    flex-shrink: 0;
}

.type{
    padding: 48px 32px 0px 32px;
    word-spacing: 30px;
    position:absolute;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: black;
}
 
.corDetail{
    opacity: 0.6;
}

.Weak{
    padding: 160px 32px;
    position:absolute;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: black;

}
.att{ 
    font-family: 'Heebo', sans-serif;
    color: #FFF;
    font-size: 22px;
    position: absolute;
    columns: 3;
    padding: 240px 0px 0px 32px;
}
.ghost{
    display: flex;
padding: 3px 20px;
border-radius: 5px;
background: #7B62A3;

}
.dark{
    display: flex;

padding: 3px 25px;
border-radius: 5px;
background: #707070;

}
.bug{
    display: flex;
padding: 3px 28px;
border-radius: 5px;
background: #729F3F;

}
